.logo {
    width: 80px;
}
body {
    font-family: Ariel, Helvetica, sans-serif;
    margin: 0;
}
.main-header {
    background-color: burlywood;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.navigation {
    grid-column-start: 3;
    align-self: center;
    display: flex;
    flex-direction: row;
}
.navigation a {
    padding:2px;
    text-decoration: none;
    color: black;
}
.navigation a:hover {
    background-color: bisque;
}