.logo {
    width: 80px;
}
body {
    font-family: Ariel, Helvetica, sans-serif;
    margin: 0;
}
.main-header {
    background-color: burlywood;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.navigation {
    grid-column-start: 3;
    align-self: center;
    display: flex;
    flex-direction: row;
}
.navigation a {
    padding:2px;
    text-decoration: none;
    color: black;
}
.navigation a:hover {
    background-color: bisque;
}
.banner {
    background-image: url("shubham-dhage-w06BFh5bRRA-unsplash.jpg");
    min-height: 450px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.banner h2 {
    font-size: 300%;
    color: rgb(255, 132, 0);
}
.banner h3 {
    color: antiquewhite;
}
